@media (max-width: 1450px) {
  .banner__content-wrap {
    padding: 50px 60px 60px 60px;
  }
  .banner__content-title {
    font-size: 55px;
    line-height: 60px;
  }
  .service__inner {
    @include mb;
  }
  .service__inner::after {
    width: 20vmin;
    height: 20vmin;
    top: calc(100% / 1.3);
    right: 10%;
  }
}
@media (max-width: 1400px) {
  .technology__inner::before {
    display: none;
  }
}
@media (max-width: 1300px) {
  .header__container {
    grid-template: 100%/ 25% 1fr 111px 124px;
  }
 }
@media (max-width: 1200px) {
  .work {
    #work__curve-1,
    #work__curve-2 {
      top: calc(-8%);
      left: calc(55% + 1vmin);
    }
  }
}

@media (max-width: 1150px) {
  .technology {
    .container {
      padding: 0 15px 0 0;
    }
  }
  .technology__map-item-1 {
    right: 65%;
  }
  .reviewing__title {
    .logo-cirle::before {
      top: 30px;
      height: 24px;
         }
  }
  .work {
    span.title-logo {
      .logo-cirle::before {
        left: 1px;
        top: 30px;
      }
    }
  }
  .footer {
    .footer__inner {
      grid-template: 15% 1fr 30% / 50% 50%;
      justify-items: center;
      margin: 0;
    }
    .footer__column {
      max-width: 100%;
    }
    .footer__column-wrap {
      width: 100%;
      max-width: 100%;
    }
    .footer__column:first-child {
      grid-area: 1/1/2/3;
      margin-top: 40px;
    }
    .footer__list {
      margin-top: 0;
    }
    .footer__column:last-child {
      margin-top: 3%;
      grid-area: 3/1/4/3;
      margin-bottom: 10px;
      .footer__column-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      .footer__title,
      .footer__email-form,
      .footer__list-social {
        align-self: center;
        margin: 0;
        width: 50%;
        text-align: center;
      }
    }
  }
}
@media (max-width: 1100px) {
  body {
    font-size: 18px;
  }
  .banner__content-wrap {
    top: 15%;
    right: 7%;
    max-width: 600px;
  }
  .banner__content-wrap::after {
    display: none;
  }
  .banner__content-title {
    font-size: 45px;
    line-height: 50px;
  }
  .technology {
    margin-bottom: 70px;
    .container {
      padding: 0;
    }
  }
  .technology__inner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .technology__content {
    order: 1;
    margin-top: 0;
    @include mb;
  }

  .technology__list {
    font-size: calc(100% + 4px);
  }
  .technology__map {
    order: 2;
    max-width: 100%;
    background-size: 100% 100%;
  }
  .service__inner {
    max-height: 490px;
    max-width: 100%;
    width: 100%;
    padding-top: 0;
    display: flex;
    justify-content: space-around;

    svg {
      display: none;
    }
  }
  .service__tabs {
    margin-left: 10%;
  }

  #tab-1.service__tab,
  #tab-2.service__tab,
  #tab-3.service__tab,
  #tab-4.service__tab,
  .service__tabcontent {
    position: relative;
    top: auto;
    left: auto;
    bottom: auto;
  }

  .service__inner::after {
    right: 0;
  }
  .service__tabcontent-title {
    font-size: calc(100% + 4px);
  }
  .reviewing__inner {
    flex-wrap: wrap;
    padding: 0 0 40px 0;
    justify-content: center;
  }

  .reviewing__content,
  .reviewing__text {
    max-width: 100%;
  }
  .reviewing__btn {
    margin-left: auto;
  }
  .reviewing__map {
    margin-top: 40px;
  }
  .reviewing__person-price {
    font-size: calc(100% + 10px);
  }
  .work {
    .container {
      padding: 0;
    }
  }
  .work__title-wrap {
    @include mb;
    padding: 0px 20px;
  }
  .work__title {
    line-height: 32px;
  }
}
@media (max-width: 1024px) {
  .banner-middle {
    display: none;
  }
  .work {
    #work__curve-1,
    #work__curve-2 {
      top: calc(-7%);
      left: calc(50% + 1vmin);
      width: calc(100% - 1vw);
    }
  }
}
@media (max-width: 900px) {
  .banner {
    margin-top: 100px;
  }
  .header__container {
    grid-template: 100% / 50% 1fr;
    min-height: 100px;
  }
  .header__navigation {
    justify-self: end;
  }
  .header__navigation-btn {
    display: block;
    border: none;
    background-color: #fff;
  }
  .header__navigation-inner {
    box-shadow: 0 -20px 0px 1px #fff, 0 -21px 0 1px $lgray;
    border-top: 1px solid $blue;
    display: none;
    position: absolute;
    z-index: 4;
    top: 110px;
    background-color: #fff;
    width: 100%;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px 0;
    height: calc(100vh - 130px);
  }
  .header__navgation-link {
    display: block;
    padding: 20px 0;
    font-size: calc(100% + 6px);
    width: 100%;
    height: auto;
  }
  .header__btn-login,
  .header__btn-start {
    @extend .header__navgation-link;
    display: none;
  }
  .footer {
    .footer__inner {
      grid-template: 10% 30% 30% 30%/ 100%;
    }
    .footer__column:nth-child(3) {
      grid-area: 3/1/4/2;
    }
    .footer__column:last-child {
      grid-area: 4/1/5/2;
      .footer__column-wrap {
        justify-content: center;
      }
      .footer__title,
      .footer__email-form,
      .footer__list-social {
        width: 100%;
      }
    }
  }
}
@media (max-width: 850px) {
  .banner__content-wrap {
    padding: 30px 30px 30px 40px;
    max-width: 500px;
  }
  .banner__content-title {
    font-size: calc(100% + 15px);
    margin-bottom: 20px;
    line-height: calc(100% + 5px);
  }
  .service__title-decoration {
    margin-top: 10px;
  }
  .reviewing__title {
    .logo-cirle::before {
      top: 29px;
      height: 20px;
    }
  }
  .work {
    span.title-logo {
      .logo-cirle::before {
        left: -2px;
        top: 27px;
      }
    }
  }
}
@media (max-width: 750px) {
  .service__tabs {
    margin-left: 5%;
  }
  .reviewing__title {
    .logo-cirle::before {
      top: 25px;
          left:-2px
    }
  }
}
@media (max-width: 650px) {
  body {
    font-size: 16px;
  }
  .banner__content-wrap {
    right: 0;
  }
  .technology__content {
    max-width: 100%;
    margin-bottom: 0;
  }
  .technology__title-wrap {
    margin: 0 auto;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
  }
  .technology__text {
    margin-left: 10px;
    text-align: center;
    max-width: calc(100% - 20px);
  }
  .technology__list-item {
    margin-left: 10px;
    max-width: calc(100% - 20px);
  }
  .service {
    padding-bottom: 0px;
    .container {
      padding: 0;
    }
  }
  .service__inner {
    flex-direction: column;
    max-height: 100%;
    margin-bottom: 0px;
  }
  .service__inner::after {
    display: none;
  }
  .service__tabs {
    flex-direction: row;
    margin-left: 0;
    justify-content: space-around;
    margin-bottom: 40px;
  }
  .service__tabcontent {
    max-width: 100%;
    box-shadow: none;
  }
  .reviewing {
    .container {
      padding: 0;
    }
  }
  .reviewing__map {
    @include w100;
  }
  .reviewing__inner-img {
    @include w100;
  }
  .reviewing__content {
    padding: 0 10px;
  }
  .reviewing__text {
    padding-left: 20px;
  }
  .reviewing__title-wrap,
  .work__title-wrap {
    text-align: center;
  }
  .reviewing__title-decoration,
  .work__title-decoration {
    left: 4%;
  }
  .work__item-number {
    width: 75px;
    height: 75px;
    left: calc((100% - 75px) / 2);
    top: calc(20px + 5vmin);
  }
  .work__items {
    flex-wrap: wrap;
  }
  .work__item {
    @include w100;
  }
  .work {
    #work__curve-1,
    #work__curve-2 {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  .banner__content-wrap {
    background-color: rgba(#fff, 0.9);
    padding: 20px 10px 10px 10px;
  }
  .banner__content-more {
    max-width: 100%;
  }
  .technology__map-item-3 {
    bottom: 75%;
  }
  .technology__person-1 {
    top: 34%;
  }
  .technology__person-2 {
    top: 65%;
  }
  .technology__list {
    margin-left: 20px;
    font-size: calc(100% + 2px);
  }
  .technology__list-item {
    padding-left: 35px;
  }
  .service {
    padding-bottom: 0;
  }
  .service__inner {
    margin-bottom: 0;
  }
  .service__tab {
    width: 17vmin;
    height: 17vmin;
  }
  .service__tabcontent-text {
    padding-right: 15px;
  }
  .reviewing__inner {
    padding: 0;
  }
  .reviewing__map {
    padding: 0;
  }
  .work {
    span.title-logo {
      .logo-cirle::before {
        width: 15px;
        height: 15px;
        left: 0px;
        top: 22px;
      }
    }
  }
}
@media (max-width: 400px) {
  .service__tabcontent-box {
    padding-left: 30px;
  }
  .reviewing__person-1::before,
  .reviewing__person-2::before {
    display: none;
  }
  .reviewing__title {
    .logo-cirle::before {
      top: 21px;
      height: 18px;
      left:-5px
    }
  }
}
// @media (min-width: 901px) {
//   .header__navigation-inner {
//     display: grid !important;
//   }
// }
