$blue: #18dadc;
$lblue:#edfafb;
$gray:#a0a0a0;
$lgray:#e6e6e6;



@mixin title-wrap{
  display:flex;
  align-items: center;
}
@mixin title {
  font-size: 50px;
  line-height: 60px;
  font-family: "PlayfairDisplay-Bold",sans-serif;
  padding-left:60px;
  @media(max-width: 1150px){
  font-size: 46px;
}
@media(max-width: 850px){
  font-size: 42px;
  line-height: 52px;
}
@media(max-width: 700px){
  font-size: 38px;
  line-height: 48px;
}
@media(max-width: 500px){
  font-size: 34px;
  line-height: 44px;
}
@media(max-width: 400px){
  font-size: 32px;
  line-height: 42px;
}
   span {
    color: $blue;
  }
}
@mixin title-decoration {
  display: grid;
  grid-template: 6px 1fr 6px/6px 1fr 6px;
  width: 38px;
  height: 30px;
  justify-items: center;
  align-items: center;
  margin-right: 17px;
  position: absolute;
  
   & span {
    background: $blue;
    @include dots;
  }
}
@mixin dots {
  border-radius: 48%;
  width: 6px;
  height: 6px;
}

@mixin avatar{
  width: 80px;
  height: 80px;
  object-fit: cover;
  background-color:$blue;
  color:#fff;
}
@mixin map-number{
  width: 40px;
  height: 40px;
  position:absolute;
  border-radius: 50%;
  color:#fff;
  background-color:rgba($blue, .8);
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content:center;
  
}
@mixin position{
  content:'';
  position:absolute;
}
@mixin bg{
  background-repeat:no-repeat;
  background-position:center;
  background-size:auto;
}
@mixin height{
  max-height: 950px;
    min-height:450px;
}
@mixin pb{
  padding-bottom:150px;
  @media (max-width: 1300px) {
  padding-bottom:100px;
}
@media (max-width: 1150px) {
  padding-bottom:70px;
}
@media (max-width: 700px) {
  padding-bottom:40px;
}
}
@mixin pt{
  padding-top:150px;
  @media (max-width: 1300px) {
  padding-top:100px;
}
@media (max-width: 1150px) {
  padding-top:70px;
}
@media (max-width: 700px) {
  padding-top:40px;
}
}
@mixin mb{
  margin-bottom:140px;
  @media (max-width: 1300px) {
  margin-bottom:100px;
}
@media (max-width: 1150px) {
  margin-bottom:70px;
}
@media (max-width: 700px) {
  margin-bottom:40px;
}
}
@mixin w100{
  max-width: 100%;
  width:100%;
}