@import "vars";
@import "libs";
@import "fonts";
@import "global";

// header start
.header {
  font-size: 18px;

  // height: 100%;
  &__container {
    @extend .container;
    max-width: 1590px;
    display: grid;
    grid-template: 100% / 51% 1fr 111px 124px;
    align-items: center;
    min-height: 130px;
  }
  &__logo {
    font-family: "Poppins-Regular", sans-serif;
  }
  &__navigation {
  }
  &__navigation-inner {
    display: grid;
    grid-template: 100% / 33.33% 33.33% 33.33%;
    align-items: center;
  }
  &__navigation-item {
    display: inline;
  }
  &__btn-login {
    background: #e6e6e6;
    padding: 10px 15px;
    width: 82px;
    height: 40px;
  }
  &__btn-start {
    background: $blue;
    color: #fff;
    padding: 10px 15px;
    width: 124px;
    height: 40px;
  }
}
// header end

// title for sections
.technology__title-wrap,
.service__title-wrap,
.reviewing__title-wrap,
.howItWork__title-wrap {
  @include title-wrap;
}
.technology__title-decoration,
.service__title-decoration,
.reviewing__title-decoration,
.howItWork__title-decoration {
  @include title-decoration;
}
.technology__title,
.service__title,
.reviewing__title,
.howItWork__title {
  @include title;
}

// banner start
.banner {
  position: relative;
  &__image {
    position: relative;
    object-fit: contain;
  }
  &__grid {
    position: absolute;
    top: 0;
  }
  &__content-wrap {
    max-width: 795px;
    width: 100%;
    position: absolute;
    top: 130px;
    background-color: #fff;
    padding: 100px 120px 120px 120px;
  }
  &__content-title {
    font-size: 75px;
    line-height: 80px;
    font-family: "PlayfairDisplay-Bold", sans-serif;
    span {
      color: $blue;
    }
  }
  &__content-text {
  }
  &__content-more {
  }
}
// banner end

// technology start
// technology  end

// service start

// service end

// reviewing start
// reviewing end

// howItWork start
// howItWork end

// footer start
// footer end

// modal start
#modal {
  display: none;
}
// modal end

// .title-decoration {
//   display:grid;
//   grid-template: 6px 1fr 6px/6px 1fr 6px;
//   width: 38px;
//   height: 30px;
//   justify-items: center;
//   align-items: center;
//   position:absolute;
//   left:0;
//   & span{
//   background:$blue;
//   @include dots;
//   }
// }
// .service__title .span{
//   position:relative;
// &::before{
//   content:'';
//   background: url('../img/dot-blue.jpg') left bottom repeat-x;
//   position:absolute;

//   height: 30px;
//   width: 38px;
// color:#18dadc;
// turquoise
// border:6px dotted #18dadc;
// border-style: dotted 6px;
// }
// }

@import "media";
