@import "vars";
@import "libs";
@import "fonts";
@import "global";


// header start
.header {
  font-size: 18px;

  &__container {
    @extend .container;
    max-width: 1590px;
    display: grid;
    grid-template: 100% / 51% 1fr 111px 124px;
    align-items: center;
    min-height: 130px;
  }
  &__logo {
    font-family: "Poppins-Regular", sans-serif;
    font-size: 40px;
    line-height: 72px;
    .logo-cirle {
      color: $blue;
      position: relative;
    }
    .logo-cirle::before {
      background-color: $blue;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      top: 50%;
      transform: translate(20%, -28%);
      position: absolute;
      content: "";
    }
  }
  &__navigation {
  }
  &__navigation-inner {
    display: grid;
    grid-template: 100% / 33.33% 33.33% 33.33%;
    align-items: center;
  }
  &__navigation-item {
    display: inline;
  }
  &__btn-login {
    background: #e6e6e6;
    text-align: center;
    padding: 10px;
    width: 81px;
    height: 40px;
  }
  &__btn-start {
    background: $blue;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 125px;
    height: 40px;
  }
}
// header end

// title for sections
.technology__title-wrap,
.service__title-wrap,
.reviewing__title-wrap,
.howItWork__title-wrap {
  @include title-wrap;
}
.technology__title-decoration,
.service__title-decoration,
.reviewing__title-decoration,
.howItWork__title-decoration {
  @include title-decoration;
}
.technology__title,
.service__title,
.reviewing__title,
.howItWork__title {
  @include title;
}

// banner start
.banner {
  position: relative;
  margin-bottom: 150px;
  &__image {
    position: relative;
    object-fit: cover;
    max-height: 950px;
    max-width: 100%;
    width: 100%;
    height: 100%;
    z-index: 0;
  }
  &__grid {
    display: grid;
    height: 100%;
    max-width: 1920px;
    width: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    grid-template: 21% 6% 24% 18% 31%/ 22% 12% 6% 7% 19% 18% 16%;
  }
  &__grid-cell {
    background-color: transparent;
    border: 5px solid #fff;
  }
  &__grid-cell:hover {
    background-color: rgba($blue, 0.45);
  }
  .cell-1 {
    grid-area: 1/1/3/1;
    border-top: none;
    border-left: none;
  }
  .cell-2 {
    grid-area: 1/2/1/4;
    border-top: none;
  }
  .cell-3 {
    grid-area: 1/4/1/6;
    border-top: none;
  }
  .cell-4 {
    border-top: none;
  }
  .cell-5 {
    border-top: none;
    border-right: none;
  }
  .cell-6 {
    grid-area: 3/1/5/2;
    border-left: none;
  }
  .cell-7 {
    grid-area: 2/2/4/5;
  }
  .cell-8 {
    grid-area: 2/5/4/5;
  }
  .cell-9 {
    grid-area: 4/2/5/6;
  }
  .cell-10 {
    grid-area: 5/1/5/3;
    border-left: none;
    border-bottom: none;
  }
  .cell-11 {
    grid-area: 5/3/5/6;
    border-bottom: none;
  }
  .cell-12 {
    grid-area: 2/6/6/8;
    border-bottom: none;
    border-right: none;
    background-color: #fff;
  }
  &__content-wrap {
    max-width: 795px;
    width: 100%;
    position: absolute;
    top: 130px;
    background-color: #fff;
    padding: 100px 120px 120px 120px;
    z-index: 2;
    max-height: 673px;
    right: 180px; // 9%
    box-shadow: 10px 17.321px 60px 0px rgba(0, 0, 0, 0.08);
  }
  &__content-title {
    font-size: 75px;
    line-height: 80px;
    font-family: "PlayfairDisplay-Bold", sans-serif;
    margin-bottom: 35px;
    span {
      color: $blue;
    }
  }
  &__content-text {
    margin-bottom: 40px;
    line-height: 30px;
    font-family: "Montserrat-Regular", sans-serif;
    max-height: 85px;
    overflow-y: hidden;
  }
  &__content-more {
    background-color: $blue;
    color: #fff;
    font-family: "Montserrat-SemiBold", sans-serif;
    max-width: 203px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
  }
}
// banner end

// technology start

.technology {
  margin-bottom: 140px;
  &__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &__inner::before {
    position: absolute;
    content: "";
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: $lblue;
    bottom: -90px;
    left: -100px;
  }
  &__map {
    position: relative;
    max-width: 600px;
    width: 100%;
    min-height: 650px;
    background-image: url("../img/technology-img.jpg");
    background-repeat: no-repeat;
    background-size: 82% 100%;
  }
  &__map-item-1 {
    @include map-number;
    bottom: 12%;
    right: 55%;
  }
  &__map-item-2 {
    @include map-number;
    bottom: 39%;
    left: 10%;
  }
  &__map-item-3 {
    @include map-number;
    bottom: 57%;
    right: 25%;
  }
  &__person {
    max-width: 305px;
    width: 100%;
    background-color: #fff;
    display: flex;
    padding: 10px;
    position: absolute;
    top: 50%;
    right: 5%;
    font-family: "Montserrat-Regular", sans-serif;
    font-size: 18px;
    line-height: 20px;
    text-align: right;
    box-shadow: 10px 17.321px 60px 0px rgba(0, 0, 0, 0.08);
  }
  &__person-1 {
    @extend .technology__person;
  }
  &__person-2 {
    @extend .technology__person;
    top: 75%;
    right: 0%;
  }
  &__person-text {
    padding: 10px 0 10px 0px;
    margin-right: 20px;
    max-height: 80px;
    overflow: hidden;
  }
  &__person-name {
    color: $gray;
  }
  &__person-image {
    @include avatar;
  }
  &__content {
    margin-top: 70px;
  }
  &__title-wrap {
  }
  &__title-decoration {
  }
  &__title {
    @include title;
  }
  &__text {
    max-width: 490px;
    width: 100%;
    max-height: 205px;
    overflow: hidden;
    line-height: 30px;
    margin: 25px 0 40px 60px;
  }
  &__list {
    font-size: 24px;
    margin-left: 60px;
  }
  &__list-item {
    padding-left: 65px;
    position: relative;
    margin-bottom: 25px;
  }

  &__list-item::before {
    content: "";
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
    background-image: url("../img/technology-check-img.png");
    background-repeat: no-repeat;
  }
}
// technology  end

// service start
.service {
  &__title-wrap {
    margin: 0 auto;
    max-width: 760px;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
  }
  &__title-decoration {
    margin-top: 20px;
    margin-left: 20px;
    align-self: stretch;
  }
  &__title {
    text-align: center;
  }
  &__inner {
    margin-bottom: 150px;
    display: flex;
    justify-content: space-around;
    position: relative;
    z-index: 20;
  }
  &__inner::after {
    width: 600px;
    height: 600px;
    @include position;
    background-color: $lblue;
    border-radius: 50%;
    right: -120px;
    z-index: 0;
    top: 30%;
  }
  &__inner-logo {
    @extend .header__logo;
    color: $lgray;
    position: absolute;
    top: 50%;
    left: 15%;
    .logo-cirle {
      color: $lgray;
    }
    .logo-cirle::before {
      background-color: $lgray;
    }
  }
  &__tabs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__tab {
    width: 105px;
    height: 105px;
    background-color: $blue;
    border-radius: 50%;
    @include bg;
  }
  #tab-1 {
    background-image: url("../img/service/furniture-icon.svg");
    
  }
  #tab-2 {
    background-image: url("../img/service/fixup-icon.svg");
    align-self: flex-end;
    
  }
  #tab-3 {
    background-image: url("../img/service/garden-icon.svg");
    background-position:right bottom;
  }
  #tab-4 {
    background-image: url("../img/service/cleaning-icon.svg");
  }
  &__tabcontent {
    max-width: 435px;
    width: 100%;
    min-height: 490px;
    box-shadow: 10px 17.321px 60px 0px rgba(0, 0, 0, 0.08);
    margin-top: 60px;
    margin-bottom: 60px;
    position: relative;
    z-index: 30;
  }
  // &__tabcontent::before{
  //   width: 600px;
  //   height: 600px;
  //   @include position;
  //   background-color: $lblue;
  //   border-radius:50%;
  //   z-index:1;
  //   top:50%;
  // }
  &__tabcontent-image {
    width: inherit;
    height: 245px;
  }
  &__tabcontent-box {
    padding: 30px 0 0 45px;
    background-color: #fff;
  }
  &__tabcontent-title {
    font-size: 26px;
    font-family: "Montserrat-SemiBold", sans-serif;
    max-width: 330px;
    width: 100%;
    padding: 15px 0px 10px 60px;
    position: relative;
    margin-bottom: 25px;
  }
  &__tabcontent-title::before {
    @include position;
    width: 50px;
    height: 50px;
    background-image: url(../img/service/cleaning-icon.svg);
    left: 10px;
    bottom: 5px;
  }
  &__tabcontent-text {
    line-height: 30px;
    padding-right: 55px;
    margin-bottom: 50px;
  }
  &__tabcontent-btn {
    width: 80px;
    height: 40px;
    display: block;
    background-color: black;
    margin-left: calc(100% - 80px);
    background-image: url("../img/service/arrow-icon.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
  }
}
// service end

// reviewing start

.reviewing {
  background-color: #f8f8f8;
  &__inner {
    display: flex;
    padding: 100px 0;
  }
  &__content {
    max-width: 710px;
    width: 100%;
  }
  &__title-wrap {
    @extend .service__title-wrap;
    margin-top: 60px;
    margin-bottom: 30px;
  }
  &__title-decoration {
    @extend .service__title-decoration;
    margin-left: 0px;
  }
  &__title {
    @extend .header__logo;
  }
  &__text {
    margin-bottom: 30px;
    max-width: 610px;
    width: 100%;
    padding-left: 60px;
    padding-right: 10px;
    line-height: 30px;
    font-size: 18px;
  }
  &__btn {
    background-color: $blue;
    color: #fff;
    margin-left: 60px;
    max-width: 205px;
    width: 100%;
    text-align: center;
    display: inline-block;
    font-family: "Montserrat-SemiBold", sans-serif;
    font-size: 20px;
    padding: 15px 10px;
  }
  &__map {
    position: relative;
    padding-right: 110px;
    min-height: 450px;
  }
  &__inner-img {
    width: 380px;
    height: 450px;
  }
  &__person {
    display: flex;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    display: flex;
  }
  &__person::before {
    @include position;
    left: -60px;
    top: -60px;
    width: 0;
    height: 0;
    border-bottom: 60px solid transparent;
    border-top: 60px solid rgba($blue, 0.5);
    border-right: 60px solid rgba($blue, 0.5);
    border-left: 60px solid rgba($blue, 0.5);
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    transform: rotate(-45deg);
  }
  &__person-1 {
    @extend .reviewing__person;
    right: 0;
    top: 90px;
  }
  &__person-2 {
    @extend .reviewing__person;
    right: 0;
    bottom: 60px;
  }
  &__person-box {
    display: grid;
    max-width: 200px;
    width: 200px;
    grid-template: 33.3% 33.3% 33.3% / 50% 50%;
    text-align: right;
    font-size: 18px;
    margin-right: 20px;
  }
  &__person-price {
    grid-area: 1/1/4/2;
    font-size: 35px;
    align-self: center;
    text-align: left;
  }
  &__person-name {
  }
  &__person-prof {
    color: $gray;
  }
  &__person-rating {
  }
  .rating-stars {
  }
  &__person-image {
    @include avatar;
  }
}

// reviewing end

// howItWork start
.howItWork {
  padding-top: 150px;
  padding-bottom: 150px;
}
.container {
}
.howItWork__inner {
}
.howItWork__title-wrap {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 100px;
}
.howItWork__title-decoration {
}
.howItWork__title {
  font-family: "Poppins-Regular", sans-serif;
}
span.title-logo {
  color: black;
  @extend .header__logo;
  font-size: 50px;
}
.howItWork__items {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.howItWork__item {
  max-width: 368px;
  width: 100%;
  text-align: center;
  position: relative;
  padding-top: 90px;
}
.howItWork__item-number {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgba(#a3f0f1, 0.7);
  border-radius: 50%;
  color: #fff;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  line-height: 50px;
  top: 20px;
  left: calc((100% - 100px) / 2);
  display: flex;
  align-items: center;
  justify-content: center;
}
#howItWork__curve-2,
#howItWork__curve-1{
@include position;
top:0;
left:240px;
}
.howItWork__item-box {
  background-color: #f8f8f8;
  width: 100%;
  min-height: 290px;
  padding: 80px 40px 10px 40px;
}
.howItWork__item-box:hover,
.howItWork__item-box:focus {
  box-shadow: 10px 17.321px 60px 0px rgba(0, 0, 0, 0.08);
}
.howItWork__item-icon {
  width: 58px;
  height: 58px;
  margin-bottom: 40px;
}
.howItWork__item-text {
  font-family: "Montserrat-Regular", sans-serif;
  line-height: 30px;
  font-size: 18px;
}
.howItWork__btn {
  color: #fff;
  height: 50px;
  max-width: 205px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: $blue;
  font-family: "Montserrat-SemiBold", sans-serif;
}
// howItWork end

// footer start
.footer {
  background-color:#000;
  .container__fluid {
  }
  .container {
  }
  .footer__inner {
       padding:80px 0;
       display:grid;
       grid-template:100% /22% 19% 24% 42%;

   
  }
  .footer__column {
    display:flex;
  }
  .footer__column-wrap{
    width: 100%;
  }
  .footer__logo {
  @extend .service__inner-logo;
 position:sticky;
 color:#fff;
 margin:0;
 padding:0;
 line-height: 30px;
 top:0;
 left:0;
  }
  .footer__title {
    color:#fff;
    font-family: "Montserrat-SemiBold",sans-serif;
    font-size: 20px;
    vertical-align: bottom;
    line-height: 50px;
  }
  .footer__list {
    color:#939393;
    font-family: "Montserrat-Regular",sans-serif;
    font-size: 18px;
    margin-top: 30px;
    line-height: 50px;
  }
  .footer__list-item {
  }
  .footer__list-item-link:hover,
  .footer__list-item-link:focus{
    color:#fff;
  }
  .footer__email-form {
    max-width: 410px;
    display:flex;
    width:100%;
    margin-top: 17px;
  margin-bottom: 40px;
    input{
      padding-left:25px;
      padding-right:10px;
      height:50px;
      max-width: 250px;
      width:100%;
    }
  }
  .footer__email-form-btn {
    margin-left:-5px;
  border:$blue;
    height:50px;
    max-width:160px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    color:#fff;
    background-color:$blue;
  }
  .footer__list-social {
  }
  .footer__list-social-item {
  }
  .footer__list-social-link {
  }
  .twitter {
  }
  .instagram {
  }
  .facebook {
  }
  .footer__copy {
  }
  .login__title {
  }
  .login__wrapper {
  }
  .login__label-name {
  }
  .login__label-pass {
  }
  .creat-acc {
  }
  .lost-pass {
  }
}
// footer end

// modal start
#modal {
  display: none;
}
// modal end

// .title-decoration {
//   display:grid;
//   grid-template: 6px 1fr 6px/6px 1fr 6px;
//   width: 38px;
//   height: 30px;
//   justify-items: center;
//   align-items: center;
//   position:absolute;
//   left:0;
//   & span{
//   background:$blue;
//   @include dots;
//   }
// }
// .service__title .span{
//   position:relative;
// &::before{
//   content:'';
//   background: url('../img/dot-blue.jpg') left bottom repeat-x;
//   position:absolute;

//   height: 30px;
//   width: 38px;
// color:#18dadc;
// turquoise
// border:6px dotted #18dadc;
// border-style: dotted 6px;
// }
// }

@import "media";
