@import "vars";
@import "libs";
@import "fonts";
@import "global";

// header start
.header {
  font-size: 18px;

  &__container {
    @extend .container;
    max-width: 1590px;
    display: grid;
    grid-template: 100% / 51% 1fr 111px 124px;
    align-items: center;
    min-height: 130px;
  }
  &__logo {
    font-family: "Poppins-Regular", sans-serif;
    font-size: 40px;
    line-height: 72px;
    span {
      color: $blue;
      position: relative;
    }
    span::before {
      background-color: $blue;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      top: 50%;
      transform: translate(20%, -28%);
      position: absolute;
      content: "";
    }
  }
  &__navigation {
  }
  &__navigation-inner {
    display: grid;
    grid-template: 100% / 33.33% 33.33% 33.33%;
    align-items: center;
  }
  &__navigation-item {
    display: inline;
  }
  &__btn-login {
    background: #e6e6e6;
    text-align: center;
    padding: 10px;
    width: 81px;
    height: 40px;
  }
  &__btn-start {
    background: $blue;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 125px;
    height: 40px;
  }
}
// header end

// title for sections
.technology__title-wrap,
.service__title-wrap,
.reviewing__title-wrap,
.howItWork__title-wrap {
  @include title-wrap;
}
.technology__title-decoration,
.service__title-decoration,
.reviewing__title-decoration,
.howItWork__title-decoration {
  @include title-decoration;
}
.technology__title,
.service__title,
.reviewing__title,
.howItWork__title {
  @include title;
}

// banner start
.banner {
  position: relative;
  &__image {
    position: relative;
    object-fit: contain;
    max-height: 950px;
    height: 100%;
    z-index:0;
  }
  &__grid {
    display:grid;
   height: 100%;
    // max-height: 950px;
    max-width: 1920px;
    width: 100%;
    position: absolute;
    z-index:1;
    top: 0;
    grid-gap: 10px;
  // background-color:#fff;
  grid-template: 21% 5% 24% 18% 31%/ 21%  12% 5% 6% 19% 18% 16%;
  }
  &__grid-cell{
    background-color:transparent;
  }
  &__grid-cell:hover {
    background-color: #fff;
  }
  .cell-1 {
    grid-area: 1/1/3/1;
  }
  .cell-2 {
    grid-area: 1/2/1/4;
  }
  .cell-3 {
    grid-area: 1/4/1/6;
  }
  .cell-4 {
  }
  .cell-5 {
  }
  .cell-6 {
    grid-area: 3/1/5/2;
  }
  .cell-7 {
    grid-area: 2/2/4/5;
  }
  .cell-8 {
    grid-area: 2/5/4/5;
  }
  .cell-9 {
    grid-area: 4/2/5/6;
  }
  .cell-10 {
    grid-area: 5/1/5/3;
  }
  .cell-11 {
    grid-area: 5/3/5/6;
  }

  &__content-wrap {

    display:none;

    max-width: 795px;
    width: 100%;
    position: absolute;
    top: 130px;
    background-color: #fff;
    padding: 100px 120px 120px 120px;
  }
  &__content-title {
    font-size: 75px;
    line-height: 80px;
    font-family: "PlayfairDisplay-Bold", sans-serif;
    span {
      color: $blue;
    }
  }
  &__content-text {
  }
  &__content-more {
  }
}
// banner end

// technology start
// technology  end

// service start

// service end

// reviewing start
// reviewing end

// howItWork start
// howItWork end

// footer start
// footer end

// modal start
#modal {
  display: none;
}
// modal end

// .title-decoration {
//   display:grid;
//   grid-template: 6px 1fr 6px/6px 1fr 6px;
//   width: 38px;
//   height: 30px;
//   justify-items: center;
//   align-items: center;
//   position:absolute;
//   left:0;
//   & span{
//   background:$blue;
//   @include dots;
//   }
// }
// .service__title .span{
//   position:relative;
// &::before{
//   content:'';
//   background: url('../img/dot-blue.jpg') left bottom repeat-x;
//   position:absolute;

//   height: 30px;
//   width: 38px;
// color:#18dadc;
// turquoise
// border:6px dotted #18dadc;
// border-style: dotted 6px;
// }
// }

@import "media";
